body{
	margin: 0;
}
div.leftMenu{
	width: 10%;
	border-right: #152B55 1px solid;
	box-shadow: 2px 0px 1px #efefef;
	background-color: #eee;
	float: left;
	position: absolute;
	min-height: 100%;
}

.leftMenu ul{
	list-style-type: none;
	padding: 10px;
}

.leftMenu li{
	padding: 15px 0;
}

.headerIcon{
	width: 100%;
	cursor: pointer;
}

div.container{
	width: 88%;
    float: right;
    margin-left: 12%;
    position: inherit;
}

div.rssContainer{
    width: 90%;
    margin: 15px 5%;
    padding: 0;
    border: #333 1px solid;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.rssContainer div{
    margin: 0;
    padding: 0;
}

.rssContainer > div:last-child{
    height: 250px;
    overflow: overlay;
}

.rssContainer p{
    margin: 0;
    padding: 0;
}

.rssContainer div:first-child{
	background-color: #333;
	font-size: 35px;
	color:white;
	padding: 5px;
}

.rssContainer .rssHeader{
	text-decoration: underline;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.rssContainer .rssStory:nth-child(even){
	background-color: #eee;
	color:black;
}

.rssContainer .rssStory:nth-child(odd){
	background-color: #fff;
	color:black;
}

.rssContainer .rssStory p:first-child{
	font-size: 18px;
	padding: 7px;
}

.storyContent{
	display: none;
}