body{
	margin: 0;
}
div.leftMenu{
	width: 10%;
	border-right: #152B55 1px solid;
	box-shadow: 2px 0px 1px #efefef;
	background-color: #eee;
	float: left;
	position: absolute;
	height: 100%
}

.leftMenu ul{
	list-style-type: none;
	padding: 10px;
}

.leftMenu li{
	padding: 15px 0;
}

.headerIcon{
	width: 100%;
}

div.container{
	width: 88%;
    float: right;
    margin-left: 12%;
    position: inherit;
}

div.rssContainer{
	background-color: #333;
    color: white;
    width: 90%;
    margin: 15px 5%;
    padding: 5px;
}

.rssContainer .rssHeader{
	text-decoration: underline;
}

.rssContainer .rssStory p:first-child{
	
}

.rssContainer .rssStory p:last-child{
	font-size: 7px;
}