<div class="todoContainer">
	<div class="listActions">
		<img src='img/svg/listPurge.svg' data-list='{{id}}' class='listHeaderIcon' id="listPurge"/>
		<img src='img/svg/unarchive.action.svg' data-list='{{id}}' class='listHeaderIcon' id="restoreList"/>
		<img src='img/svg/settings.svg' data-list='{{id}}' class='listHeaderIcon' id="listSettings"/>
	</div>
	<div class="listHeader" data-id="{{id}}" style="background-color: {{Bcolor}}; Color: {{Tcolor}};">{{name}}</div>
	<div id="uncheckedItems">{{items}}</div>
	<div id="checkedItems">{{checkedItems}}</div>
</div>