<div class="listSettingsContainer">
	<div class="listSettings">
		<div class="header" style="color: {{TColor}};background-color: {{BColor}};">List Settings</div>
		<div class="listForm">
			<ul>
				<li><span>Name</span><input type="text" id="name" name="name" value="{{Name}}"></li>
				<li><span>Text Color</span><input type="color" id="TextColor" name="TextColor" value="{{TColor}}"></li>
				<li><span>Background Color</span><input type="color" id="BackgroundColor" name="BackgroundColor" value="{{BColor}}"></li>
			</ul>
			<input type="hidden" id="id" name="id" value="{{listId}}"/>
			<button class="ListSettingsSubmit">Submit</button>
		</div>
	</div>
</div>